<%- include('header.ejs') %>
<body>
    <div class="kapcsolat-div-container">
        <div class="kapcsolat-div">
            <div class="facebook-kep">
                <img class="logo" src="./fblogo.png">
            </div>
            <div class="kapcsolat-szoveg">
                HBarnabas
            </div>
            <div class="email-kep">
                <img class="logo" src="./email.png">
            </div>
            <div class="kapcsolat-szoveg">
                barnabas.h@gmail.com
            </div>
            <div class="telefon-kep">
                <img class="logo" src="./mobil.png">
            </div>
            <div class="kapcsolat-szoveg">
                +36 20 776 23 26
            </div>
        </div>
        <p><a href="/" target="_parent"><button class="fekete-gomb">Back to homepage</button></a></p>
    </div>
</body>
</html>