<%- include('./header.ejs') %>
<body>
  <p><h1>Create new blog post </h1> </p>
  <form action="/" method="POST">
    <label for="vezeteknev">Name</label><br>
    <input type="text"  name="vezeteknev"><br>
    <label for="cim">Title</label><br>
    <input type="text" name="cim">
    <label for="bejegyzes">Content</label><br>
    <textarea  name="bejegyzes" placeholder="Write your post here">
      </textarea>
      <input type="submit" class="fekete-gomb" value="Create post">
  </form>
</body>
</html>